.wrapper {
  margin: 40px auto;
  max-width: 500px;
  max-height: 300px;
  img {
    width: 100%;
    height: 100%;
  }
}

.textWrapper {
  text-shadow: #829983 1px -1px 1px;
  font-weight: bold;
  color: #239f4e;
}
